-e ./sumo-rl

stable_baselines
stable_baselines3==1.2.0
tensorflow-macos
tensorflow-metal
mlflow~=1.28.0
numpy~=1.21.2
matplotlib~=3.5.2
scipy~=1.8.1
sumolib~=1.13.0
pettingzoo~=1.19.0
gym~=0.21.0
pandas~=1.4.3
traci~=1.13.0
setuptools~=61.2.0
pyvirtualdisplay~=3.0
configparser~=5.0.2

higher~=0.2.1
torch~=1.12.0